*{
	box-sizing: border-box;
}

body{
	position: relative;
	box-sizing: border-box;
	width: 100%;
}

.container{
	width: 1366px;
	margin: 0 auto;
	position: relative;
}

.clearfix:after{
	content: '';
	clear: both;
	display: table;
}

h2,
h3{
	font-size: 50px;
	text-transform: uppercase;
	color: white;
	font-family: 'LAYS-BOLD';
	text-align: center;
	line-height: 64px;
}

h3{
	color: #eb212e;
}

h4, h5{
	margin: 0;
}

.overflow{
	overflow: hidden;
}